<?xml version="1.0" encoding="UTF-8" ?>
<mapper xmlns="http://mybatis.org/schema/mybatis-mapper" namespace="com.main.qa_logefi.dao.QuestionDao">
    <select id="findQuestionById" parameterType="java.lang.Integer" resultType="Question">
        SELECT * FROM question WHERE question_id=#{question_id}
    </select>

    <select id="findAll" resultType="Question">
        SELECT * FROM question
    </select>

    <insert id="saveQuestion" parameterType="Question">
        INSERT INTO question(question_id, question_user_id, question_tax_department,
        question_name_cn, question_name_en, question_siren, question_siret, question_request,
        question_processing, status, question_update_time, question_create_time, question_status)
        values (#{question_id}, #{question_user_id}, #{question_tax_department},
        #{question_name_cn}, #{question_name_en}, #{question_siren}, #{question_siret}, #{question_request},
        #{question_processing}, #{status}, #{question_update_time}, #{question_create_time}, #{question_status})
    </insert>

    <update id="updateQuestion" parameterType="Question">
        UPDATE question SET question_id=#{question_id}, question_user_id=#{question_user_id},
        question_tax_department=#{question_tax_department}, question_name_cn=#{question_name_cn},
        question_name_en=#{question_name_en}, question_siren=#{question_siren}, question_siret=#{question_siret},
        question_request=#{question_request}, question_processing=#{question_processing}, status=#{status},
        question_update_time=#{question_update_time}, question_create_time=#{question_create_time},
        question_status=#{question_status}
    </update>

    <delete id="updateQuestion" parameterType="Question">
        DELETE FROM question WHERE question_id=#{question_id}
    </delete>

</mapper>