<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.main.qa_logefi.dao.QuestionDao">
    <resultMap id="BaseResultMap" type="com.main.qa_logefi.entity.Question">
        <id column="question_id" jdbcType="INTEGER" property="questionId"/>
        <result column="question_user_id" jdbcType="INTEGER" property="questionUserId"/>
        <result column="question_tax_department" jdbcType="INTEGER" property="questionTaxDepartment"/>
        <result column="question_name_cn" jdbcType="VARCHAR" property="questionNameCn"/>
        <result column="question_name_en" jdbcType="VARCHAR" property="questionNameEn"/>
        <result column="question_siren" jdbcType="VARCHAR" property="questionSiren"/>
        <result column="question_siret" jdbcType="VARCHAR" property="questionSiret"/>
        <result column="question_request" jdbcType="TIMESTAMP" property="questionRequest"/>
        <result column="question_processing" jdbcType="TIMESTAMP" property="questionProcessing"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="questionUpdateTime" jdbcType="TIMESTAMP" property="questionUpdateTime"/>
        <result column="question_create_time" jdbcType="TIMESTAMP" property="questionCreateTime"/>
        <result column="question_status" jdbcType="INTEGER" property="questionStatus"/>
    </resultMap>

    <select id="findQuestionById" parameterType="java.lang.Integer" resultType="Question">
        SELECT * FROM question WHERE question_id=#{question_id}
    </select>

    <select id="findQuestionByUserId" parameterType="java.lang.Integer" resultMap="Question">
        SELECT * FROM question WHERE question_user_id=#{question_user_id}
    </select>

    <select id="findAll" resultType="Question">
        SELECT * FROM question
    </select>

    <select id="findTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM question;
    </select>

    <insert id="saveQuestion" parameterType="Question">
        INSERT INTO question(question_id, question_user_id, question_tax_department,
        question_name_cn, question_name_en, question_siren, question_siret, question_request,
        question_processing, status, question_update_time, question_create_time, question_status)
        VALUES (#{question_id}, #{question_user_id}, #{question_tax_department},
        #{question_name_cn}, #{question_name_en}, #{question_siren}, #{question_siret}, #{question_request},
        #{question_processing}, #{status}, #{question_update_time}, #{question_create_time}, #{question_status})
    </insert>

    <update id="updateQuestion" parameterType="Question">
        UPDATE question SET question_user_id=#{question_user_id},
        question_tax_department=#{question_tax_department}, question_name_cn=#{question_name_cn},
        question_name_en=#{question_name_en}, question_siren=#{question_siren}, question_siret=#{question_siret},
        question_request=#{question_request}, question_processing=#{question_processing}, status=#{status},
        question_update_time=#{question_update_time}, question_create_time=#{question_create_time}, question_status=#{question_status}
        WHERE question_id=#{question_id}
    </update>

    <delete id="deleteQuestion" parameterType="Question">
        DELETE FROM question WHERE question_id=#{question_id}
    </delete>

</mapper>